<div id="history" class="container col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" >
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">
				Transaction History
			</div>
		</div>
		<div class="panel-body">
			<div data-ng-if="!!accounts">
				<label>Select account</label>
				<button type="button" 
						class="btn btn-default pull-right"
						data-ng-model="$parent.selectedAccount"
						data-ng-change="selectAccount()"
						data-bs-select=""
						data-bs-options="account as account.id for account in accounts" >
					Account <span class="caret"></span>
				</button>
			</div>
			<div data-ng-if="!accounts">
				<span class="text-danger">You have no registered accounts</span>
			</div>
			<div data-ng-if="!!selectedAccount && !selectedAccount.history">
				<span class="text-danger">Account has no transaction history</span>
			</div>
		</div>
		<table class="table" data-ng-if="!!selectedAccount && !!selectedAccount.history">
			<thead>
				<th class="">#</th>
				<th class="col-md-3">Date</th>
				<th class="col-md-1">Type</th>
				<th class="col-md-6">Source/Destination account</th>
				<th class="col-md-2">Amount</th>
			</thead>
			<tr data-ng-repeat="entry in selectedAccount.history">
				<td class="">{{ $index+1 }}</td>
				<td class="col-md-3">{{ entry.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
				<td class="col-md-1">{{ entry.type }}</td>
				<td class="col-md-6">{{ entry.other }}</td>
				<td class="col-md-2 text-right">{{ entry.amount }} {{ selectedAccount.currency }}</td>
			</tr>
		</table>
	</div>
</div>
