<div id="history" class="container col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" >
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">
				Transaction History
			</div>
		</div>
		<div class="panel-body">
			<div data-ng-if="!!accounts">
				<label>Select account</label>
				<button type="button" 
						class="btn btn-default pull-right"
						data-ng-model="$parent.selectedAccount"
						data-ng-change="selectAccount()"
						data-bs-select=""
						data-bs-options="account as account.id for account in accounts" >
					Account <span class="caret"></span>
				</button>
			</div>
			<div data-ng-if="!accounts">
				<span class="text-danger">You have no registered accounts</span>
			</div>
			<div data-ng-if="!!selectedAccount && !selectedAccount.history">
				<span class="text-danger">Account has no transaction history</span>
			</div>
		</div>
		<table class="table" data-ng-if="!!selectedAccount && !!selectedAccount.history">
			<thead>
				<th class="col-md-3">
					<a href="" data-ng-click="orderBy('date')">Date</a>
					<span class="glyphicon glyphicon-arrow-down text-success" data-ng-if="sortPredicate == 'date' && !reverse"></span>
					<span class="glyphicon glyphicon-arrow-up text-danger" data-ng-if="sortPredicate == 'date' && reverse"></span>
				</th>
				<th class="col-md-1">
					<a href="" data-ng-click="orderBy('type')">Type</a>
					<span class="glyphicon glyphicon-arrow-down text-success" data-ng-if="sortPredicate == 'type' && !reverse"></span>
					<span class="glyphicon glyphicon-arrow-up text-danger" data-ng-if="sortPredicate == 'type' && reverse"></span>
				</th>
				<th class="col-md-6">
					<a href="" data-ng-click="orderBy('other')">Source/Destination account</a>
					<span class="glyphicon glyphicon-arrow-down text-success" data-ng-if="sortPredicate == 'other' && !reverse"></span>
					<span class="glyphicon glyphicon-arrow-up text-danger" data-ng-if="sortPredicate == 'other' && reverse"></span>
				</th>
				<th class="col-md-2">
					<a href="" data-ng-click="orderBy('amount')">Amount</a>
					<span class="glyphicon glyphicon-arrow-down text-success" data-ng-if="sortPredicate == 'amount' && !reverse"></span>
					<span class="glyphicon glyphicon-arrow-up text-danger" data-ng-if="sortPredicate == 'amount' && reverse"></span>
				</th>
			</thead>
			<tr data-ng-repeat="entry in selectedAccount.history | orderBy: sortPredicate: reverse">
				<td class="col-md-3">{{ entry.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
				<td class="col-md-1" 
					data-ng-class="[{ 'text-success': entry.type=='income' }, { 'text-danger': entry.type=='expense' }]">
					{{ entry.type }}
				</td>
				<td class="col-md-6">{{ entry.other }}</td>
				<td class="col-md-2 text-right">{{ entry.amount }} {{ selectedAccount.currency }}</td>
			</tr>
		</table>
	</div>
</div>
