<div class="container col-md-8 col-md-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				Account information
			</div>
		</div>
		<table class="table">
			<tr>
				<th class="col-md-8">Account #</th>
				<th class="col-md-2 text-right">Balance</th>
				<th class="col-md-2 text-right">Currency</th>
			</tr>
			<tr data-ng-repeat="account in accounts">
				<td class="col-md-8">{{account.id}}</td>
				<td class="col-md-2 text-right">{{account.balance}}</td>
				<td class="col-md-2 text-right">{{account.currency}}</td>
			</tr>
		</table>
	</div>
</div>
