<div id="home" class="container col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" >
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">
				Account information
			</div>
		</div>
		<div class="panel-body" data-ng-if="!accounts || accounts.length==0">
			<span class="text-danger">You have no registered accounts</span>
		</div>
		<table class="table" data-ng-if="!!accounts && accounts.length>0">
			<tr>
				<th class="col-md-8">Account #</th>
				<th class="col-md-2 text-right">Balance</th>
				<th class="col-md-2 text-right">Currency</th>
			</tr>
			<tr data-ng-repeat="account in accounts">
				<td class="col-md-8">{{account.id}}</td>
				<td class="col-md-2 text-right">{{account.balance}}</td>
				<td class="col-md-2 text-right">{{account.currency}}</td>
			</tr>
		</table>
	</div>
</div>
