<!DOCTYPE html>
<html data-ng-app="mainApp">
	<head>
		<meta charset="UTF-8">
		<title>Test</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../content/main.css"/>
	</head>

	<body data-ng-controller="mainController">
		<nav class="navbar navbar-default" data-ng-if="isAuth" data-bs-navbar="">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li data-match-route="/home"><a href="#/home">Home</a></li>
					<li data-match-route="/transfers"><a href="#/transfers">Transfers</a></li>
					<li data-match-route="/history"><a href="#/history">History</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="" data-ng-click="logout()">Logout</a>
					</li>
				</ul>
			</div>
		</nav>

		<div data-ng-view=""></div>
	</body>

	<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-mocks.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.5/angular-strap.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.5/angular-strap.tpl.js"></script>
	<script src="../scripts/module.js"></script>
	<script src="../scripts/auth/auth.factory.js"></script>
	<script src="../scripts/auth/auth.interceptor.js"></script>
	<script src="../scripts/route.config.js"></script>
	<script src="../mock/login.mock.js"></script>
	<script src="../scripts/main.controller.js"></script>
	<script src="../scripts/login/login.controller.js"></script>
	<script src="../scripts/home/home.controller.js"></script>
	<script src="../scripts/transfers/transfers.controller.js"></script>
	<script src="../scripts/transfers/currency.directive.js"></script>
	<script src="../scripts/transfers/giro.directive.js"></script>
</html>
