<div class="container col-md-4 col-md-offset-4" id="transfers">
<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
			Domestic transaction
		</div>
	</div>
	<div class="panel-body">
		<form name="transfer">
			<div class="">
				<div>
					<label>Transfer from</label>
				</div>
				<button type="button" 
					class="btn btn-default form-control" 
					data-html="1" 
					required=""
					data-ng-model="transfer.selectedAccount" 
					data-bs-select="" 
					data-ng-change="adjustProgressbar()"
					data-bs-options="account as account.composite for account in accounts">
					Account <span class="caret"></span>
				</button>
			</div>

			<div class="block">
				<div>
					<label>Amount to transfer</label>
				</div>
				<div class="progress">
					<div class="progress-bar"> 
						{{ transfer.percentage }}%
					</div>
				</div>
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="transfer.amount" required="" data-ng-change="adjustProgressbar()" data-currency=""/>
					<span class="input-group-addon">{{transfer.selectedAccount.currency}}</span>
				</div>
			</div>

			<div class="block">
				<div>
					<label>Destination account</label>
				</div>
				<input type="text" class="form-control" data-ng-model="transfer.destination" required="" data-giro=""/>
			</div>

			<div class="block">
				<div>
					<button class="btn btn-success pull-right" type="submit" data-ng-disabled="!transfer.$valid" data-ng-click="confirmTransfer()"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
					<button class="btn btn-warning pull-right" type="button" data-ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
				</div>
			</div>
		</form>

	</div>
</div>
</div>
