body * {
  box-sizing: border-box;
}
form.login {
  width: 320px;
  padding: 10px;
}
form.login input {
  height: auto;
}
form.login button {
  margin-top: 20px;
}
#logoutModal .modal-dialog {
  width: 300px;
}
#logoutModal .modal-dialog button {
  margin-right: 10px;
}
#transfers .balance {
  padding-left: 20px;
}
#transfers .ng-invalid.ng-dirty {
  border-color: red;
}
#transfers .block {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
