body * {
  box-sizing: border-box;
}
form.login {
  width: 320px;
  padding: 10px;
}
#logoutModal .modal-dialog {
  width: 300px;
}
#logoutModal .modal-dialog button {
  margin-right: 10px;
}
#transfers .balance {
  padding-left: 20px;
}
#transfers .ng-invalid.ng-dirty {
  border-color: red;
}
#transfers input.currency {
  text-align: right;
}
#transfers input.giro {
  text-align: center;
}
#transfers .block {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#history tbody tr:nth-child(even) {
  background-color: #eee;
}
#history tbody tr:nth-child(odd) {
  background-color: #ddd;
}
.fixmarginleft-10 {
  margin-left: 10px;
}
.fixwidth-200 {
  width: 200px;
}
