body * {
	box-sizing: border-box;
}

form.login {
	width: 320px;
	padding: 10px;
}

#logoutModal {
	.modal-dialog {
		width: 300px;

	   button {
		   margin-right: 10px;
	   }
	}
}

#home {
}

#transfers {
	.balance {
		padding-left: 20px;
	}

	.ng-invalid.ng-dirty {
		border-color: red;
	}

	input.currency {
		text-align: right;
	}

	input.giro {
		text-align: center;
	}

	.block {
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

#history {
	thead tr {
   }

	tbody tr:nth-child(even) {
		background-color: #eee;
	}
	tbody tr:nth-child(odd) {
		background-color: #ddd;
	}
}

.fixmarginleft-10 {
	margin-left: 10px;
}

.fixwidth-200 {
	width: 200px;
}
