body * {
	box-sizing: border-box;
}

form.login {
	//margin: 0 auto;
	width: 320px;
	padding: 10px;

	input {
		height: auto;
	}

	button {
		margin-top: 20px;
	}
}

#logoutModal {
	.modal-dialog {
		width: 300px;

		button {
			margin-right: 10px;
		}
	}
}

#transfers {
	.balance {
		padding-left: 20px;
	}

	.block {
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		//border-top: 1px solid silver;
	}
}
